<head>
    <script src="node_modules/d3/dist/d3.min.js"></script>
</head>
<body>
    <svg id="chart" width="600" height="200"></svg>
    <script>
    const array = [100, 200, 300, 350, 375, 400, 500];
    d3.select("#chart")        // selects the svg
        .selectAll("circle")       //  Declares the elements that I want to create
        .data(array)                 //  selects the data to drive the creation of the elements (data points to be plotted)
        .enter()                        //  creates a selection to add elements per data item
        .append("circle")        //  appends element of this type to each data item
            .attr("r", 10)            //  Set attributes
            .attr("cy", 100)
            .attr("cx", d => d)   //  same as function(d) {return d} Horizontal position
    

    // This code will run 2 seconds after the page loads, changing the attributes of the plotted dots
    setTimeout(function(){
            d3.select("#chart")        // selects the svg
            .selectAll("circle")       //  Declares the elements that I want to create
            .data([50, 75, 125, 225, 325, 425, 450])                 //  selects the data to drive the creation of the elements (data points to be plotted)
            .transition().duration(1000) // Animate the transition between what was plotted in the first code block and here
                .attr("r", 5)            //  Set attributes
                .attr("cx", d => d)   //  same as function(d) {return d} Horizontal position
                .style("fill", "red")
        }, 2000)
        </script>
</body>